<div class="row">
  <div class="col-2"></div>
  <div class="col-8 col-sm-8 col-md-8">
    <nav class="navbar navbar-expand-lg" id="main-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/logo.png"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
          GrowthPulse</a
        >
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Q&A</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                What we do for
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">University startups</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Early stage startups</a>
                </li>
                <li><a class="dropdown-item" href="#">Scale ups</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Which one is for me?</a>
                </li>
              </ul>
            </li>
          </ul>
          <button class="btn btn-outline-success" type="submit">
            Enter the platform
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
