<app-navigation></app-navigation>
<div class="container-fluid" id="carousel-landing">
  <div class="landing-image">
    <div class="overlay-color">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="action-landing-container">
          <h1>Platform built for founders by founders</h1>
          <p>
          Connect with investors.<br>
          Connect with potential co-founders.<br>
          Connect with the startup community.<br>
          Connect with industry leaders.
          </p>
          <button
            type="button"
            class="btn btn-primary"
            id="action-landing-button"
          >
            Enter the platform
          </button>
          <div id="sign-up-for-newsletter-block" class="row">
            <div class="col-5">
              <h4>Sign up for a newsletter</h4>
              <div class="input-group mt-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email address"
                />
                <button class="btn btn-success" type="button">
                  Sign up
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
